<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Prueba Jiunja</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h2>Hora actual: {{ fecha }}</h2>
    <h1>Acerca de</h1>
    <ul>
        <li><a href="/">Página principal</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/my-projects">Mis proyectos</a></li>
        <li><a href="/contact">Contacto</a></li>
        <li><a href="/about">Acerca de</a></li>
    </ul>
</body>
</html>